/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

html {
    scroll-behavior: smooth;
}

button {
    border: none;
    background: none;
}

ul {
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/****** Navbar ***********/

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.navbar .navbar-logo {
    display: flex;
    align-items: center;
    height: 80px;
}

.navbar .navbar-logo img {
    width: 60px;
}

.navbar .navbar-links {
    list-style: none;
    display: flex;
    gap: 68px;
    height: 35px;
}

.navbar .navbar-links .navbar-link,
.navbar .navbar-links .navbar-link a {
    width: 100%;
    height: 100%;
}

.navbar .navbar-links .navbar-link a {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.navbar .navbar-links .navbar-link:hover {
    position: relative;
    color: var(--main-color);
}

.navbar .navbar-links .navbar-link:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    top: 0;
    left: 0;
}

/****** Search and Filters ***********/

#search-and-filters {
    margin-bottom: 35px;
}

.heading {
    margin-bottom: 35px;
}

.heading .heading-title {
    font-size: 22px;
    margin-bottom: 8px;
}

.heading .heading-subtitle {
    font-size: 16px;
}

.searchbar .searchbar-form {
    display: flex;
}

.searchbar .searchbar-form {
    width: 100%;
    max-width: 380px;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
}

.searchbar .searchbar-form .searchbar-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
}

.searchbar .searchbar-form .searchbar-icon i {
    color: black;
}

.searchbar .searchbar-form .searchbar-input {
    flex: 1;
    width: 100%;
    height: 50px;
    border: none;
    padding: 0 24px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    box-sizing: border-box;
}

.searchbar .searchbar-form .searchbar-button {
    height: 50px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 700;
    cursor: pointer;
}

.searchbar .searchbar-form .searchbar-button .searchbar-button-icon,  
.searchbar .searchbar-form .searchbar-button .searchbar-button-text {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.searchbar .searchbar-form .searchbar-button .searchbar-button-icon {
    display: none;
}

.filters {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 35px;
}

.filters .filters-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.filters .filters-title {
    font-size: 18px;
    font-weight: 700;
}

.filters .filters-button {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    padding: 4px 19px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    cursor: pointer;
}

.filters .filters-button:hover {
    background-color: #DEEBFF;
    transition: all 0.3s;
}

.filters .filters-button .filters-button-icon {
    color: var(--main-color);
}

.filters .filters-button .filters-button-icon,
.filters .filters-button .filters-button-text {
    font-size: 17px;
    font-weight: 700;
    white-space: nowrap;
}

.search-infos {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 35px;
    line-height: 18.78px;
}

.search-infos-icon {
    display: block;
    min-width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid var(--main-bg-color);
}

.search-infos-icon i {
    font-size: 14px;
}

/****** Sections et Cards ***********/

.section-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.section-button {
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
}

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card.card-horizontal {
    display: flex;
    align-items: stretch;
    min-height: 146px;
}

.card .card-img {
    display: block;
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    border: 5px solid white;
    box-sizing: border-box;
    margin-bottom: 4px;
}

.card.card-horizontal .card-img {
    max-width: 124px;
    height: auto;
    max-height: 144px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    margin-bottom: 0;
}

.card.card-long-image .card-img {
    height: 380px;
    border: none;
    margin-bottom: 0;
}

.card .card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 15px;
    padding-bottom: 15px;
    gap: 8px;
}

.card.card-horizontal .card-content {
    padding: 10px 15px;
}

.card.card-long-image .card-content {
    padding: 20px;
}

.card .card-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

.card .card-rating {
    margin-bottom: 5px;
}

.card .card-currency {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/****** Activites ***********/
.activites {
    margin-top: 35px;
    padding: 30px;
}

.activites-cards {
    display: flex;
    gap: 30px;
}

.activites-cards a {
    flex: 1;
}


/****** Footer ***********/

footer {
    background: #f2f2f2;
    margin-top: 35px;
}

.footer-lists {
    display: flex;
    justify-content: space-between;
}

.footer-list-title {
    font-size: 18px;
    font-weight: 700;
}

.footer-list {
    flex: 1;
    padding: 20px;
}

.footer-list,
.footer-list-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-list-item {
    font-size: 16px;
    font-weight: 400;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        flex: 1;
    }

    .card.card.card-horizontal {
        min-height: 177px;
    }

    .card.card.card-horizontal .card-img {
        width: 92px;
        max-height: 177.5px;
    }

    .card.card.card-long-image .card-img {
        height: 200px;
    }

    /****** Search and Filters ***********/

    .filters {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .main-container {
        padding: 0;
    }

    /****** Navbar ***********/

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav {
        width: 100%;
    }

    .navbar .navbar-links {
        width: 100%;
        gap: 0;
    }

    .navbar .navbar-links .navbar-link {
        flex: 1;
        border-bottom: 2px solid var(--main-bg-color);
    }

    .navbar .navbar-links .navbar-link a {
        align-items: flex-start;
    }

    .navbar .navbar-links .navbar-link:hover::before {
        top: auto;
        bottom: 0;

    }

    /****** Search and Filters ***********/

    #search-and-filters {
        padding: 0 20px;
    }

    .searchbar .searchbar-form {
        max-width: 100%;
        overflow: visible;
        border-radius: 18px;
    }

    .searchbar .searchbar-form .searchbar-icon {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .searchbar .searchbar-form .searchbar-button {
        width: 50px;
        padding: 0;
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .searchbar .searchbar-form .searchbar-button .searchbar-button-icon {
        display: block;
    }

    .searchbar .searchbar-form .searchbar-button .searchbar-button-text {
        display: none;
    }

    .filters .filters-buttons {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .filters .filters-button {
        width: 100%;
    }

    .filters .filters-button .filters-button-text {
        white-space: inherit;
        line-break: anywhere;
    }

    /****** Sections et Cards ***********/

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergements-and-populaires section.populaires {
        margin-top: 0;
    }

    .hebergements-and-populaires section.hebergements {
        background: white;
    }

    .activites {
        padding: 20px;
    }

    .hebergements-cards {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .card.card.card-horizontal {
        min-height: 146px;
    }

    .card.card.card-horizontal .card-img {
        width: 112px;
    }

    .card.card.card-long-image .card-img {
        height: 140px;
    }

    .populaires-cards,
    .activites-cards {
        flex-direction: column;
    }

    /****** Footer ***********/

    footer {
        padding: 30px;
    }

    .footer-lists {
        flex-direction: column;
        gap: 50px;
    }

    .footer-list {
        padding: 0;
    }
}